/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
@layer base {
  body {
    @apply text-dark-500 bg-white;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold text-dark-600;
  }
}
